<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/public/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/public/js/index_js.js"></script>
    
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="/public/im/new.png"   alt="DaconStocks.com"></a>

        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item">
                <div class="dropdown">
                    <div class="dropbtn"><a href="">Services</a></div>
                    <div class="dropdown-content">
                        <a href="/article">Articles</a>
                        <a href="/videos">Videos</a>
                        <a href="/technical">Analysis</a>
                    </div>
                </div>
            </li>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section id="about-section">
        <h1 class="primary center">Our Team</h1>
        <div class="" id="owners">
            <div class="about-item">

                <img class="zoom"  src="/public/im/gagan.jpg" alt="Member1">
                <span class="name">Gagan Chaudhary</span>
                <span class="name-about">CEO, Founder</span>
                <br>
                <br>
                <a href="https://www.facebook.com/gagan.chaudhary.1293/" class="fa fa-facebook" target="_blank"></a>
                <a href="mailto:201852009@iiitvadodara.ac.in" class="fa fa-google" target="_blank"></a>
                <a href="https://www.instagram.com/da__hunk/" class="fa fa-instagram" target="_blank"></a>
                <a href="www.linkedin.com/in/thegaganchaudhary" class="fa fa-linkedin" target="_blank"></a>
                
            </div>
            <div class="about-item">
                <img class="zoom" src="/public/im/narayan2.jpg" alt="Member2">
                <span class="name">Narayan Kalani</span>
                <span class="name-about">CEO, Founder & Stock Market Expert</span>
                <br>
                <br>
                <a href="https://www.facebook.com/narayan.kalani.7" class="fa fa-facebook" target="_blank"></a>
                <a href="mailto:201852021@iiitvadodara.ac.in" class="fa fa-google" target="_blank"></a>
                <a href="https://www.instagram.com/kalani.nk" class="fa fa-instagram" target="_blank"></a>
                <a href="https://www.linkedin.com/in/narayan-kalani-14a022179/" class="fa fa-linkedin" target="_blank"></a>
                
            </div>
        </div>
    </section>
   
    <footer>
        <div class="center">
            Copyright &copy; www.DaconStocks.com <br> All Rights Reserved!
        </div>

    </footer>
    
</body>
</html>