

body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

/* Navigation Bar  */

#logo{
    border-radius: 80%;
    position: absolute;
    
    left: 2px;
}
#logo:hover{
    background-color: white;
    cursor: pointer;
    
}
#logo img{
    position: center;
    
    margin: 0px 4px;
    padding: 5px 4px;
    height: 90%;
}


#navbar{
    position: sticky;
    display: flex;
    background-color: black;
    height: 139px;

}
#navbar ul{
    position: absolute;
    right: 38px;
    margin: 18px 10px;
    display: flex;
    padding: 28px 20px;

}

#navbar ul li{
    list-style: none;

}
#navbar ul li a{
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 36px;
    /* border: 2px solid; */
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}

.dropbtn {
    background-color: black;
    border: none;
    font-size: 36px;
    /* margin: 10px 10px; */
    /* padding: 10px 20px */
    text-decoration: none;
    color: white;
    font-size: 36px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    right: 10px;
    top: 48px;
    margin-top: 3px;
    display: none;
    position: absolute;
    background-color: black;
    /* min-width: 160px; */
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(184, 184, 184, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#about-section{
    border:  0.1px solid rgb(184, 141, 141);
    height: 730px;
}
#about-section::before{
    content: '';
    position: absolute;
    /* background: url('../im/a10.jpg'); */
    background-color: rgb(184, 141, 141);
    width: 1348px;
    height: 730px;
    /* top: 0px;
    left: 0px; */
    z-index: -1;
    opacity: .6;
}
#owners{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-item{
    padding: 34px 100px;
}
#owners img{
    box-shadow: 0px 3px 50px 8px black;
    height: 276px;
    width: 250px;
    /* border: 2px solid; */
    border-radius: 10px;
    /* border: 6px solid PINK; */
}
#owners img:hover{
    box-shadow: 0px 3px 50px 8px rgb(100, 92, 92);;
}
.center{
    text-align: center;
}
.primary{
    color: white;
    margin: 30px;
    text-shadow: 3px 3px black;
    font-size: 4rem;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.name{
    display: block;
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
    color: white;
    padding: 20px 0px;
}
.name-about{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(230, 184, 184);
}
.name:hover{
    color:black;
    cursor: pointer;
    transform: scale(1.1);
}
.name-about:hover{
    color: rgb(19, 60, 61);
    transform: scale(1.5);
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    /* -moz-font-feature-settings: ; */
     
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  
  .fa:hover {
    opacity: 2;
    box-shadow: 0px 0px 20px 3px rgb(247, 217, 217);
  }
  

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }