body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:white;
}

/* Navigation Bar  */

#logo{
    border-radius: 80%;
    position: absolute;
    
    left: 2px;
}
#logo:hover{
    background-color: white;
    cursor: pointer;
    
}
#logo img{
    position: center;
    
    margin: 0px 4px;
    padding: 5px 4px;
    height: 90%;
}


#navbar{
    position: sticky;
    display: flex;
    background-color: black;
    height: 139px;

}
#navbar ul{
    position: absolute;
    right: 38px;
    margin: 18px 10px;
    display: flex;
    padding: 28px 20px;

}

#navbar ul li{
    list-style: none;

}
#navbar ul li a{
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 36px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: bold; */
    /* border: 2px solid; */
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}


.dropbtn {
    background-color: black;
    border: none;
    font-size: 36px;

    text-decoration: none;
    color: white;
    font-size: 36px;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    right: 10px;
    top: 48px;
    margin-top: 3px;
    display: none;
    position: absolute;
    background-color: black;
    /* min-width: 160px; */
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(184, 184, 184, 0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* Contact Section  */
#contact{
    margin: 0;

    height: 800px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0px;

}
/* #contact h1{
    position: relative;
    top: 20px;
    right: 20px;
} */
#contact::before{
    content: '';
    width: 100%;
    height: 800px;
    position: absolute;
    background: url('../im/a5.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: .8;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box input,
#contact-box textarea{
    width:100% ;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.3rem;
    outline: none;
}
#contact-box form{
    width: 30%;
}
#contact-box label{
    color: white;
    font-size: 1.3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: auto;
    background: black;
    color: white;
    padding: 9px 20px;
    /* -moz-font-feature-settings: ; */
     
}
.primary{
    color: white;
    margin: 0px;
    text-shadow: 3px 3px black;
    font-size: 4rem;
    padding: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.center{
    text-align: center;
}
.btn{
    padding: 6px 6px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}