body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:white;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif')
	 no-repeat center center;	
	z-index: 99999;
}

/* Navigation Bar  */

#logo{
    border-radius: 80%;
    position: absolute;
    
    left: 2px;
}
#logo:hover{
    background-color: white;
    cursor: pointer;
    
}
#logo img{
    position: center;
    
    margin: 0px 4px;
    padding: 5px 4px;
    height: 90%;
}


#navbar{
    position: sticky;
    display: flex;
    background-color: black;
    height: 139px;

}
#navbar ul{
    position: absolute;
    right: 38px;
    margin: 18px 10px;
    display: flex;
    padding: 28px 20px;

}

#navbar ul li{
    list-style: none;

}
#navbar ul li a{
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 36px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: bold; */
    /* border: 2px solid; */
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}

.dropbtn {
    background-color: black;
    border: none;
    font-size: 36px;
    /* margin: 10px 10px; */
    /* padding: 10px 20px */
    text-decoration: none;
    color: white;
    font-size: 36px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    right: 10px;
    top: 48px;
    margin-top: 3px;
    display: none;
    position: absolute;
    background-color: black;
    /* min-width: 160px; */
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(184, 184, 184, 0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Home Section  */
/* Home Section  */
/* Home Section  */
#home{
    /* border: 2px solid black; */
    color: white;
    display: flex;
    /* padding: 50px; */
    height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 200px ; */
}
#home::before{
    content: '';
    background: url('../im/a6.jpg') no-repeat center center/cover;
    position: absolute;
    /* top: 0px;
    left: 0px; */
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

.sec{
    font-size: 30px;
    font-family: cursive;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px blanchedalmond ;
}

.btn{
    font-weight: bold;
    background-color: brown;
    margin: 5px;
    border-radius: 10px;
    width: 120px;
}
.btn:hover{
    background-color: yellow;
    color: black;
}

/* Utility classes */

.primary{
    color: white;
    margin: 20px;
    
    text-shadow: 3px 3px black;
    font-size: 4rem;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.services{
    /* color: white; */
    color: cornflowerblue;
    margin: 70px auto;
    /* padding: 40px auto; */
    
    text-shadow: 3px 3px black;
    font-size: 4rem;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.trade{
    /* color: white; */
    color: cornflowerblue;
    margin: 70px auto;
    /* padding: 40px auto; */
    
    text-shadow: 3px 3px black;
    font-size: 4rem;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.btn{
    padding: 6px 6px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}
.center{
    text-align: center;
}
.secondary{
    
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Services Section */
#services-container{
    border: 2px solid honeydew;
    padding: 60px auto;
    width: auto;
    /* margin: 350px 0px; */
    height: 800px;
}
#services-container::before{
    content: '';
    background: url('../im/a9.jpg') no-repeat center center/cover;
    position: absolute;
    background-color: honeydew;
    /* top: 0px;
    left: 0px; */
    height: 800px;
    width: 99%;
    z-index: -1;
    opacity: 0.8;

}
#services{
     margin: 10px 10px;
     display: flex;
     /* padding: 30px auto; */
}
#services .box{
    /* border: 2px solid brown; */
    padding: 34px;
    width: 33%;
    height: 400px;
    margin: 20px 6px;
    border-radius: 23px;
    background: antiquewhite;
}
#services .box:hover{
    box-shadow: 0px 0px 10px 0px black;
}
#services .box img{
    width: 300px;
    height: 200px;
    margin: auto;
    display: block;
    border: 2px solid;
    border-radius: 10px;
    transition: transform .2s;
}
#services .box img:hover{
    transform: scale(1.2);
}
#services .box a{
    text-decoration: none;
}
#services .box a:hover{
    color: brown;
}
#services .box p{
    font-family: 'Open Sans Condensed', sans-serif;
}





.name{
    display: block;
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
    color: white;
    padding: 20px 0px;
}
.name-about{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(230, 184, 184);
}
.name:hover{
    color:black;
    cursor: pointer;
    transform: scale(1.1);
}
.name-about:hover{
    color: rgb(19, 60, 61);
    transform: scale(1.5);
}

#partner-maindiv{
    display: flex;
    /* border: 3px solid black; */
    flex-wrap: wrap;

}
.partner-box{
    background-color: rgb(255, 224, 224);
    /* border: 4px solid yellow; */
    width: 18%;
    padding: 20px;
    margin: 40px auto;
}
.partner-box:hover{
    box-shadow: 0px 0px 10px 1px grey;
}
.partner-box a{
    text-decoration: none;
    color: cadetblue;
}
.partner-box img{
    
    width: 245px;
    height: 230px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    /* -moz-font-feature-settings: ; */
     
}

/* .main{
    position: fixed;
    padding: 20px;
    font-size: 80px;
} */

.main a{
    text-decoration: none;
    color: blanchedalmond;
    margin-top: 10px;
}
.mar{
    margin-bottom: 100px;
}
  
 




