<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/video.css">
    <title>Videos</title>
</head>

<body onload="myFunction()">
    <div id="loading"></div>
    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="/public/im/new.png" alt="DaconStocks.com"></a>

        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item">
                <div class="dropdown">
                    <div class="dropbtn"><a href="">Services</a></div>
                    <div class="dropdown-content">
                        <a href="/article">Articles</a>
                        <a href="/videos">Videos</a>
                        <a href="/technical">Analysis</a>
                    </div>
                </div>
            </li>
            <!-- <li class="item"><a href="/videos">Videos</a></li> -->
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section>
        <div id="maindiv">
            <span class="primary center">Watch what experts says </span>
            <div id="a1">
                <div class="intro">
                    <h1 class="name">Mr. Prakash Diwan</h1>
                    <br>
                    <h3>Prakash Diwan is an Investment Advisory professional with a keen interest in Public & Pvt
                        Markets</h3>
                </div>
                <div class="video">
                    <span id="heading">Common Mistakes to Avoid in Stock Market by Prakash Diwan</span>
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/zRcoiHhj-IE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div id="a1">
                <div class="intro">
                    <h1 class="name">Mr. Warren Buffett</h1>
                    <h3>Warren Edward Buffett is an American investor, business tycoon, and philanthropist, who is the
                        chairman and CEO of Berkshire Hathaway. He is considered one of the most successful investors in
                        the world and has a net worth of US$88.9 billion as of December 2019, making him the
                        fourth-wealthiest person in the world.</h3>
                </div>
                <div class="video">
                    <span id="heading">Warren Buffett talks coronavirus and oil 'one-two punch' on stock market</span>
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/b8fSPr2gcKQ" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div id="a1">
                <div class="intro">
                    <h1 class="name">Mr. Vivek Bindra</h1>
                    <br>
                    <h3>
                        Vivek Bindra is a renowned International motivational speaker and leadership trainer. He has
                        around 1,500 clients spread across 25 countries.He is the winner of best leadership trainer
                        award by Marshal Goldsmith at World HRD Congress 2016.
                    </h3>
                </div>
                <div class="video">
                    <span id="heading">Stock Market explained by Dr. Vivek Bindra </span>
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/L_iJCNzDe-s" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div id="a1">
                <div class="intro">
                    <h1 class="name">Mr. Nithin Kamath</h1>
                    <br>
                    <h3>Nitin Kamath is an Indian businessman, stockbroker, co-founder and director of the discount
                        brokerage Zerodha.Nithin bootstrapped and founded Zerodha in 2010 to overcome the hurdles he
                        faced during his decade long stint as a trader. Today, Zerodha has changed the landscape of the
                        Indian broking industry.

                    </h3>
                </div>
                <div class="video">
                    <span id="heading">How I Started My Business In College - Nithin Kamath, Zerodha </span>
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/ystIu-XBiLc" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <h2 class="center">More Videos will be posted Soon!!</h2>
    </section>
    <footer>
        <div class="center">
            Copyright &copy; www.DaconStocks.com <br> All Rights Reserved!
        </div>

    </footer>

    <script>
		// $(document).ready(function(){
			// 	$('div#loading').removeAttr('id');
		// });
		var preloader = document.getElementById("loading");
		// window.addEventListener('load', function(){
		// 	preloader.style.display = 'none';
		// 	})

		function myFunction(){
			preloader.style.display = 'none';
		};
	</script>
</body>

</html>